#info {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(31, 30, 30);
    color: #fff;
    text-align: left;
    padding: 40px;
}
footer .contenedor a{
    text-decoration: none;
    color: white;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
header {
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: 20px;
}
.contenedor{
    width: 98%;
    margin: 20px;
}

h1 {
    text-align: center;
}

header .contenedor {
    display: table;
}
section {
    width: 100%;
    margin-bottom: 25px;
}

footer .contenedor {
    display: flex;
    justify-content: center;
    color: #fff;
}
.copy {
    font-size: 15px;
}
.sociales {

    text-align: center;
    font-size: 25px;
    color: #fff;
    
}
.sociales a {
    color: #fff;
    text-decoration: none;
}